<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">休日をちょっと違った形で楽しみませんか？</h2>
                <hr class="light">
                <p class="text-faded">AITELLは学生生活をもっとワクワクさせるというビジョンから生まれたイベント企画運営サービスです。 All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                <a href="#" class="btn btn-default btn-xl">問い合わせる！</a>
            </div>
        </div>
    </div>
</section>
